
/* css */
*{
  background-color: black;
}
.spacer {
    padding-top: 20px;
    padding-bottom: 20px
}
input[type="radio"]{
  margin: 0 10px 0 10px;
}
.radio-button {
    font-size: .8vw;
}
.radio-button input[type="radio"]:checked+label {
       color: #C4733B;
     }

#panelY, #flipY {
  padding: 5px;
  background-color: #C4733B;
  border: solid 1px black;
}

#panelY {
  padding: 50px;
  display: none;
  font-size: .8vw;

}
#panelN, #flipN {
  padding: 5px;
  background-color: #C4733B;
  border: solid 1px black;

}

#panelN {
  padding: 50px;
  display: none;
  font-size: .8vw;
}
#panelA {
  padding: 5px;
  text-align: center;
  background-color: #C4733B;
  border: solid 1px black;
  font-size: 1vw;
}


#flipN:hover {
  text-align: center;
  color: white;
  text-shadow:0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-size: 1vw;


}
#flipY{
  text-align: center;
  font-size: .8vw;

}
#flipN{
  text-align: center;
  font-size: .8vw;

}
#flipY:hover {
  color: white;
  text-shadow:0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-size: 1vw;

}
.white{ color: white}
.title_homepage{
  color: #C4733B;
  font-size: 15vw;
  text-align: center;
  font-weight: bold;
  padding-top: 17vw;
  letter-spacing: .09em;
}
.title_otherpage{
  color: #C4733B;
  font-size: 8vw;
  text-align: center;
  font-weight: bold;
  padding-top: 2vw;
  letter-spacing: .09em;
}

h2{
  font-size: 10vw;
}
h3{
  font-size: 8vw;
}
